@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#fbda61,#ff5acd);
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    width: 350px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.30);
    .imgBx {
        position: absolute;
        top: -50px;
        width: 200px;
        height: 200px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.30);
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .details {
            padding: 40px;
            text-align: center;
            width: 100%;
            h2 {
                font-size: 1.25em;
                font-weight: 600;
                color: #555;
                line-height: 1.2em;
            }
            span {
                font-size: 0.75em;
                font-weight: 500;
                opacity: 0.5;
            }
            .data {
                display: flex;
                justify-content: space-between;
                margin: 35px 0;
                h3 {
                    font-size: 1em;
                    color: #555;
                    line-height: 1.2em;
                    font-weight: 600;
                }
                span {
                    font-size: 0.85em;
                    font-weight: 400;
                    opacity: 0.5;
                }
            }
            .actionbtn {
                display: flex;
                justify-content: space-between;
                button {
                    padding: 10px 30px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    font-weight: 500;
                    background: #ff5f95;
                    color: #fff;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid #000;
                        color: #999;
                        background: #fff;
                    }
                    &:last-child {
                        border: 1px solid #999;
                        color: #999;
                        background: #fff;
                        &:hover {
                            border: 1px solid #000;
                            color: #fff;
                            background: #ff5f95;
                        }
                    }
                }
            }
        }
    }
}

